* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Lexend Deca", sans-serif;
  font-display: fallback;
  line-height: 1;
  font-weight: 400;
  color: #fff;
}

a {
  text-decoration: none;
  transition: all 0.3s;
}

a:focus-visible {
  outline: 0.3rem dashed hsl(0, 0%, 95%);
  outline-offset: 0.5rem;
}

.btn:link,
.btn:visited {
  display: inline-block;
  font-size: 1.5rem;
  background-color: hsl(0, 0%, 95%);
  padding: 1.8rem 3.4rem;
  color: #333;
  border-radius: 50rem;
}

.btn:hover,
.btn:active {
  outline: 2px solid hsl(0, 0%, 95%);
  background: transparent;
  color: hsl(0, 0%, 95%) !important;
}
