/***************************/
/* Below 1200px */
/***************************/

@media (max-width: 75rem) {
  .hero-bg {
    width: 26.7rem;
    height: 40rem;
    top: -3.2rem;
    right: -3.6rem;
    z-index: -1;
  }
}

/***************************/
/* Below 1120px */
/***************************/

@media (max-width: 70rem) {
  .hero-txt-box {
    max-width: 78rem;
  }
}

/***************************/
/* Below 800px */
/***************************/

@media (max-width: 50em) {
  body {
    background: url(../assets/bg-main-tablet.png);
    background-position: -38rem -25rem;
    background-repeat: no-repeat;
  }

  .header {
    margin-bottom: 9.5rem;
  }

  .section-hero {
    margin-bottom: 24.9rem;
  }

  .hero-txt-box {
    max-width: 52rem;
  }

  .hero-heading {
    font-size: 6.4rem;
    letter-spacing: -0.07rem;
    margin-bottom: 2.8rem;
  }

  .hero-desc {
    font-size: 1.8rem;
    line-height: 2.8rem;
  }

  .section-product {
    margin-bottom: 18.3rem;
  }

  .product-box {
    background-position: 22.9rem -3.1rem;
    background-size: 28rem auto;
  }

  .product-img {
    width: 27rem;
    top: -13.8rem;
    left: 5.8rem;
  }

  .product-content {
    top: 15rem;
    right: 5.8rem;
    width: 39.9rem;
    padding: 4.8rem;
  }

  .product-heading {
    font-size: 3.2rem;
    line-height: 4rem;
    margin-bottom: 1.2rem;
  }

  .product-desc {
    font-size: 1.8rem;
    line-height: 2.8rem;
    margin-bottom: 3.6rem;
  }

  .product-price {
    margin-bottom: 3.2rem;
  }

  .footer {
    padding-bottom: 8.5rem;
  }

  .footer-grid {
    grid-template-columns: 1fr 1fr;
    row-gap: 3.2rem;
  }

  .footer-grid a {
    grid-column: 1/-1;
  }
}

/***************************/
/* Below 640px (Phones) */
/***************************/

@media (max-width: 40em) {
  .hero-bg {
    display: none;
  }

  .hero-heading {
    font-size: 5.4rem;
  }

  .hero-txt-box {
    width: 100%;
  }
}

/***************************/
/* Below 480px */
/***************************/

@media (max-width: 30rem) {
  body {
    background: url(../assets/bg-main-mobile.png);
    background-position: 0rem -25rem;
    background-repeat: no-repeat;
  }

  .container {
    padding: 0 2.4rem;
  }

  .header {
    padding: 0;
    margin-bottom: 6.4rem;
  }

  .header a {
    margin-top: 4rem;
  }

  .section-hero {
    margin-bottom: 16.6rem;
  }

  .hero-heading {
    font-size: 4rem;
    line-height: 4.8rem;
    letter-spacing: -0.045rem;
    margin-bottom: 2rem;
  }

  .hero-desc {
    font-size: 1.6rem;
    line-height: 2.6rem;
  }

  .section-product {
    margin-bottom: 39rem;
  }

  .section-product .container {
    padding: 0;
  }

  .product-box {
    background-position: center top;
  }

  .product-img {
    width: 20.9rem;
    top: -9.8rem;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
  }

  .product-content {
    width: 100%;
    top: 38rem;
    right: 0rem;
    padding: 4.8rem 3.7rem;
  }

  .footer {
    padding-bottom: 8rem;
  }

  .footer-grid {
    grid-template-columns: 1fr;
  }

  .social {
    justify-self: start;
    margin-top: 3.2rem;
  }
}
