.header {
  padding: 8rem 0 6.1rem 0;
  text-align: center;
}

.logo {
  width: 11.9rem;
  height: 2.8rem;
}

.bg-left {
  background: url("../assets/desktop/image-hero-left.png");
  background-repeat: no-repeat;
  width: 100%;
  background-position: right top;
}

.bg-right {
  background: url("../assets/desktop/image-hero-right.png");
  background-repeat: no-repeat;
  width: 100%;
  background-position: left bottom;
}

.section-hero {
  display: grid;
  grid-template-columns: 1fr minmax(auto, 54rem) 1fr;
  justify-items: center;
  gap: 8.8rem;
  margin-bottom: 19.4rem;
}

.hero-txt-box {
  text-align: center;
  padding-top: 4.7rem;
  padding-bottom: 0.7rem;
}

.hero-header {
  max-width: 44.5rem;
  margin: 0 auto 3.4rem auto;
}

.hero-btns {
  display: flex;
  gap: 1.6rem;
  justify-content: center;
}

.section-gallery {
  margin-top: 6.4rem;
  margin-bottom: 8rem;
}

.gallery-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 3rem;
}

.gallery-item {
  border-radius: 0.8rem;
  overflow: hidden;
}

.gallery-grid img {
  width: 100%;
  transition: all 0.3s;
}

.gallery-grid img:hover {
  transform: scale(1.1);
}

.section-features {
  margin-bottom: 12.8rem;
}

.features-container {
  max-width: 54rem;
  text-align: center;
  margin: 0 auto;
}

.features-header {
  max-width: 44.5rem;
  margin: 0 auto;
}

.section-footer {
  background-image: linear-gradient(
      to right bottom,
      rgba(77, 151, 169, 0.87),
      rgba(77, 151, 169, 0.87)
    ),
    url("../assets/desktop/image-footer.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 11.6rem 0 10.4rem 0;
}

.footer {
  display: flex;
  color: #fafafa;
  align-items: center;
  justify-content: space-between;
}

.footer-header {
  color: inherit;
  max-width: 35rem;
}

.footer-pg {
  max-width: 35rem;
}

.wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.6rem;
  line-height: 2.6rem;
  font-weight: 900;
  width: 5.6rem;
  height: 5.6rem;
  border-radius: 50%;
  border: 0.1rem solid rgba(135, 135, 157, 0.25);
  margin: 0 auto;
  position: relative;
}

.wrap::before {
  content: "";
  height: 8.4rem;
  border-left: 0.1rem solid rgba(135, 135, 157, 0.25);
  position: absolute;
  bottom: 0;
  transform: translateY(-5.5rem);
}

.wrap--footer {
  transform: translateY(50%);
  background-color: #fafafa;
}
